* {
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 840px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .blank{
      display: none;
  }
  #year,#sex,#month,#nickname{
      width: 80%;
  }
}
[class*="col-"] {
    float: left;
    padding: 15px;
      border: 1px solid red;  
}
body{
    background :orange;
}
input[type="text"]:focus{
    border:2px solid #333;
    
}
input[type="button"]{
    font-size:28px;
    cursor: pointer;
    padding: 0px 45px;
    background: #333;
    border: 2px solid #333;
}
input[type="button"]:focus{
    border:2px solid white;
}
select:focus{
    border:2px solid #000;
}
select,option,input[type="text"]{
    width: 100%;
    font-size: 28px;
    border:2px solid lightgray;
    color: #333;
}
.inform{
    font-size: 28px;
    padding: 0%;
}
#result{
    display: none;
    color:wheat;
    font-size:28px;
    word-break: break-all;
    background: chocolate;
    padding: 12px;
}
.result{
    background: brown;
    display: none;
    
}
a:link {
    text-decoration: none;
    
}
a:visited {
    text-decoration: none;
    color: #000;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
.play{
    height: 78px;
}
.container{
    height: 700px;
}
.footer{
    width: 100%;
    margin-top: 120px;
}